extends layouts/main-layout.pug
block content
    main
        if prods.length>0
            each product in prods
                .grid
                    header.product-header
                        h3 #{product.title} Pug File
                    .product-img-container
                        img(src="https://www.slashgear.com/wp-content/uploads/2019/07/coffee_main_envat-1280x720.jpg",alt="Some Random Image")
                    .product-info
                        h4 $23.99
                        p Some Random Information about the product
        else
            h1 No Products to Show